<div id="post_content">	

	<h1 class="title">
		<%= @test.title %>
	</h1>
	<br>
	<h3 class="title">
		<%= @test.question1 %>
	</h3>

	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
		<%= link_to 'Delete', test_path(@test), method: :delete, data: { confirm: 'Are you sure to delete this set of 5 questions ' } %>
	</p>

	<p class="body">
		<%= @test.answer1 %>
	</p>

	<h3 class="title">
		<%= @test.question2 %>
	</h3>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer2 %>
	</p>


	<h3 class="title">
		<%= @test.question3 %>
	</h3>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer3 %>
	</p>


	<h3 class="title">
		<%= @test.question4 %>
	</h3>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer4 %>
	</p>


	<h3 class="title">
		<%= @test.question5 %>
	</h3>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer5 %>
	</p>



</div>