<div id="post_content">	

	<h1 class="title">
		<%= @test.question1 %>
	</h1>

	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>

	<p class="body">
		<%= @test.answer1 %>
	</p>

	<h1 class="title">
		<%= @test.question2 %>
	</h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer2 %>
	</p>


	<h1 class="title">
		<%= @test.question3 %>
	</h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer3 %>
	</p>


	<h1 class="title">
		<%= @test.question4 %>
	</h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer4 %>
	</p>


	<h1 class="title">
		<%= @test.question5 %>
	</h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@test.created_at) %> ago |
		<%= link_to 'Edit', edit_test_path(@test) %>
	</p>
	<p class="body">
		<%= @test.answer5 %>
	</p>



</div>